<table class="calculator calculator--table">
    <thead>
    <tr>
        <th colspan="3" class="calculator__tooltip">Enter 2 numbers and select an operand</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <input type="number" value="{{leftValue}}"/>
        </td>
        <td>
            <select ngModel="operand" class="calculator__operand">
                <option></option>
                <option value="addition">+</option>
            </select>
        </td>
        <td>
            <input type="number" value="{{rightValue}}"/>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th>Results:</th>
        <th colspan="2" class="calculator__result" [class.state--invalid]="!result">{{result ? result : 'N/A'}}</th>
    </tr>
    </tfoot>
</table>
